{% extends "base.html" %} {% block body %}
<h3 class="text-center m-4">Modification des notes d'un étudiant</h3>
{% if success %}
<div class="alert alert-success" role="alert">
  Les notes ont été modifiées avec succés
  <a href="{% url 'Notes' %}" class="alert-link"
    >Retournez vers la page des notes.</a
  >
</div>
{% else %}
<div class="row justify-content-center">
  <div class="col-6">
    <div class="card text-white bg-primary mb-3">
      <div class="card-header">
        <i class="fa-solid fa-pen-to-square fa-lg"></i> Modifier les notes d'un
        étudiant
      </div>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Modifier</button>
          <a href="{% url 'Notes' %}" class="btn btn-secondary">Quitter</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
